.message-card.display-vertical(v-for="m of messages")
    h1.general-color.no-pads.card-text.tangak.correct-text-query-mess {{m.name}}
    h3.general-color.no-pads.card-text.tangak.correct-text-query-mess {{m.date}}
    h3.white-color.no-pads.card-text.tangak.top-20.correct-text-query-mess {{m.message}}