.message-card.display-horison(v-for="s of supp")
    .img-block.money-picture.icon-size
    .left-20
        h2.white-color.no-pads.card-text.tangak.correct-text-query-supp Donate: {{s.summ}}₽
        h2.general-color.no-pads.card-text.tangak.correct-text-query-supp Date: {{s.date}}